{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{% static 'faculty/css/style.css' %}">
    </head>
    <body>
        <header class = "navbar navbar-expand bg-dark">
            <a class = "navbar-brand text-white" href="#"> Book Reservations </a>
            <ul class = "navbar-nav">
                <li class="nav-item">
                    <a class = "nav-link text-white" href="{% url 'dashboard' %}"> Dashboard </a>
                </li>
                <li class="nav-item">
                    <a class = "nav-link text-white" href="{% url 'studentdetails' %}"> Student Details</a>
                </li>
                <li class = "nav-item">
                    <a class = "nav-link text-white" href="{% url 'bookdetails' %}"> Book Details</a>
                </li>
                <li class = "nav-item">
                    <a class = "nav-link text-white" href="{% url 'bookreservation' %}"> Book Reservation</a>
                </li>
            </ul>

            {% if not user.is_authenticated%}
                <ul class = "navbar-nav ms-auto">
                    <li class = "nav-item">
                        <a class = "btn btn-sm btn-secondary" href = "{% url 'login' %}"> Login</a>
                    </li>
                </ul>
            {% else %}
                <ul class = "navbar-nav ms-auto">
                    <li class = "nav-item">
                        <a class = "btn btn-sm btn-secondary" href= "{% url 'logout' %}">Logout</a>
                    </li>
                </ul>
            {% endif %}
        </header>

        {% block container%}
        <div>
            {% block content %}

            {% endblock %}
        </div>

        {% endblock %}
        
    </body>
</html>