{% extends "faculty/base.html" %}

{% block content %}
    <div class = "container-fluid text-center mt-5">
        <h4>Student Information</h4>
        <div class = "mt-5">
            <canvas id= "firstcanvas" height = "100" width = "300"></canvas>
        </div>
    </div>

    <script src = "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>

    <script>
        let mychart = document.getElementById('firstcanvas')
        let newchart = new Chart(mychart, {
            type: 'bar',
            data: {
                labels: [
                    'Students',
                    'Average GPA',
                    'Seniors',
                    'Juniors',
                    'Sophomores',
                    'Freshmen'
                ],
                datasets: [{
                    label: "Student Dashboard Data",
                    data: [
                        {{ total_students }},
                        {{ avg_gpa }},
                        {{ seniors }},
                        {{ juniors }},
                        {{ sophomores }},
                        {{ freshmen }}
                    ],
                    backgroundColor: "rgba(100, 149, 237, 0.7)"
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

            
    </script>
{% endblock %}